<app-navbar></app-navbar>
<div class="container-wrapper container d-flex justify-content-center align-items-center">
  <div class="form-wrapper text-center">
    <h2 class="text-center">Login</h2>
    <form [formGroup]="loginForm" (submit)="submit()" novalidate>
      <div class="form-group">
        <!-- Entering email -->
        <input type="email" class="form-control" id="email-input" placeholder="Enter Email" formControlName="email">
      </div>
      <div class="form-group">
        <!-- Entering password -->
        <input type="password" class="form-control" id="password-input" placeholder="Password" formControlName="password">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <!-- Returning to signup page if there is no existing account -->
    <small><a routerLink="/signup">Need an Account?</a></small>
  </div>
</div>